/* EditBook.css */
.edit-book-container {
    background-color: #fff; /* Assuming you want a white background */
    padding: 20px;
    border-radius: 8px; /* Rounded corners for the container */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Soft shadow for a subtle depth */
    margin-top: 20px;
  }
  
  .form-control {
    padding: 12px 20px; /* Slightly larger padding for better text visibility */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 4px; /* Rounded borders for the input fields */
  }
  
  .mt-5 {
    margin-top: 20px; /* More space between form fields */
  }
  
  .btn-primary {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -webkit-appearance: none; /* Chrome, Safari, newer versions of Opera */
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Standard syntax */
}