/* App.css */

.navbar-custom {
  background-color: #f8f9fa;
  height: 100vh;
}

.navbar-custom .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.navbar-custom .nav-item {
  margin-bottom: 1rem;
}

.navbar-custom .nav-link {
  color: #343a40;
  font-size: 1.1rem;
  transition: color 0.3s, background-color 0.3s;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
}

.navbar-custom .nav-link:hover {
  color: #ffffff;
  background-color: #007bff;
}

.navbar-custom .nav-link.active {
  color: #ffffff;
  background-color: #007bff;
}
